@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/fonts/dm-sans-v15-latin-regular.woff2') format('woff2'); 
}

@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../src/assets/fonts/dm-sans-v15-latin-500.woff2') format('woff2'); 
}

@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../src/assets/fonts/dm-sans-v15-latin-700.woff2') format('woff2'); 
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body{
  font-family: "DM Sans", sans-serif;
}
.container{
  width: 1170px;
  padding: 0 20px;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-list{
  margin-top: 54px;
  display: flex;
  gap: 60px;
}
